<!DOCTYPE html>
 <footer>
        <nav>
            <a href="https://github.com/Aboomar524">GitHub</a>
            <a href="https://aboomar524.github.io/">GitHub.io</a>
            <a href="https://aboomar524.github.io/web215/">WEB215.io</a>
            <a href="https://aboomar524.github.io/web250/">WEB250.io</a>
            <a href="https://www.freecodecamp.org/AhmadAlhomair">freeCodeCamp</a>
            <a href="https://www.codecademy.com/profiles/ahmadAlHomair9297602551">Codecademy</a>
            <a href="https://jsfiddle.net/abobana1/cmsq9x2j/11/">JSFiddle</a>
            <a href="https://www.linkedin.com/in/ahmad-al-homair/">LinkedIn</a>
        </nav>
        <p>
            Designed by <a href="card.html" target="_blank" style="color: #ff801e;">Ahmad Alhomair</a> and
            <a href="https://www.freecodecamp.org/certification/AhmadAlhomair/javascript-algorithms-and-data-structures-v8" target="_blank" style="color: #ff801e;">
                JavaScript Algorithms and Data Structures (JADS)
            </a> - &copy;2025
        </p>
        
        <p><em>"Be with God and you will see God with you"</em></p>
    </footer>