<!DOCTYPE html>
 <footer>
        <nav>
            <a href="https://github.com/Aboomar524">Github</a>
            <a href="https://aboomar524.github.io/">Github.io</a>
            <a href="https://aboomar524.github.io/web215/">WEB215.io</a>
            <a href="https://www.freecodecamp.org/AhmadAlhomair">freeCodeCamp</a>
            <a href="https://www.codecademy.com/profiles/ahmadAlHomair9297602551">Codecademy</a>
            <a href="https://jsfiddle.net/abobana1/cmsq9x2j/11/">JSFiddle</a>
            <a href="https://www.linkedin.com/in/ahmad-al-homair/">LinkedIn</a>
        </nav>
        <p>
            Designed by <a href="card.html" class="contract-text" target="_blank">Ahmad Alhomair</a> - &copy;2025
        </p>
        <p><em>"Be with God and you will see God with you"</em></p>
    </footer>